.heading {
  color: darkmagenta;
  font-size: 44px;
}
body {
  background-color: gold;
}
p {
  color: lightseagreen;
  font-size: 34px;
}
div {
  font-size: 24px;
  color: magenta;
}
#unique {
  color: red;
  font-size: 54px;
}
